{% extends "stock/incomplete_tv.html" %}
{% load humanize %}
{% block stock_title %}
	<h3>입고 마감처리 된 품목</h3>
{% endblock stock_title %}

{% block tabendclass %}class="active"{% endblock tabendclass %}

{% block stock_content %}
	<table class="tablesorter">
		<thead>
			<tr>
				<th>거래처</th>
				<th>발주번호</th>
				<th>약품명</th>
				<th>발주수량</th>
				<th>입고수량</th>
				<th>포장단위</th>
				<th>되돌리기</th>
				
			</tr>
		</thead>
		<tbody>
		{% for object in object_list %}
			<tr>
				<td>{{ object.drug.account }}</td>
				<td>{{ object.buy }}</td>
				<td>{{ object.drug }}</td>
				<td>{{ object.amount }}</td>
				<td>{{ object.stockin_amount }}</td>
				<td>{{ object.drug.pkg_amount }}</td>
				<td>
					<form action="{% url 'stock:rollback' object.pk %}" method="post">
					{% csrf_token %}
					{# <input type="hidden" name="id" value="{{ object.pk }}"> #}
				{% if user.is_staff %}
					<button class="submit-with-icon">
				{% else %}
					<button class="submit-with-icon" disabled>
					권한필요
				{% endif %}
						<span class="glyphicon glyphicon-repeat"></span>
					</button>
					</form>
				</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
{% endblock stock_content %}
