{% extends "stock/stockrec_archive_month.html" %}



{# {% block content %} #}

{% block month_header %}
	
	
<form action="{% url 'stock:stockin_period' %}" method="post">
	{% csrf_token %}
	{# <input id="id_start" type="date" name="start" readonly="">~ #}
	{# <input id="id_end" type="date" name="end" readonly=""> #}
	{{ form.start }}~{{ form.end }}
	<p>구분 
	{{ form.general.label_tag }}{{ form.general }}
	{{ form.narcotic.label_tag }}{{ form.narcotic }}
	</p>
	<button id="select" class="btn btn-primary" >조회</button>
</form>


<script >

	$(function(){

		$('#id_start, #id_end').datepicker({
				dateFormat: 'yy-mm-dd'
			});
		
		var start = $("#id_start")
		var end = $("#id_end")
		$("#id_start").change(function(){

			if(start.val() > end.val()){
				end.val(start.val());
			}
		});
		 $("#id_end").change(function(){

			if(start.val() > end.val()){
				start.val(end.val());
			}
		});
	})
</script>
{% endblock month_header %}
{# {% endblock content %} #}




