
{% extends "stock/base.html" %}
{% block content %}
<style type="text/css">
	.content{
		margin-left: 50px;
		margin-right: 50px;
	}
	table input{
		width: 100%;
		border: 1px solid #eee;
		margin: 0px;
		padding: 0px;
	}
	table {
		border-collapse: collapse;
	}
	tr, th, td, thead{
		border: 1px solid #eee;
	}
</style>
{% block header %}
<h2>입고되어야할 품목들</h2>
{% endblock header %}
<div class="content">
	{% block dateinput %}
		
	<form action="{% url 'stock:showincomplete' %}" method="post">
	{% csrf_token %}
	발주기간: {{ form.start }}~ {{ form.end }}

	<input type="submit" value="조회">	
	</form>
	{% endblock dateinput %}

	{% block table %}
	<form action="{% url 'stock:stockin' %}" method="post">
	{% csrf_token %}
		<p>입고일자: {{ form.indate }}</p>
	<table class="tablesorter">
		<thead>
			<tr>
				<th width="1%">연번</th>
				<th width="4%">발주번호</th>
				<th width="6%">제약회사</th>
				<th width="12%">약품명</th>
				<th width="4%">발주수량</th>
				<th width="4%">기입고수량</th>
				<th width="4%">입고수량</th>
				<th width="5%">거래처</th>
				<th width="2%">마감</th>
			</tr>
		</thead>
		<tbody>
		{% for buyitem in object_list %}
			<tr>
				<td>{{ forloop.counter }}</td>
				<td>{{ buyitem.buy }}</td>
				<td>{{ buyitem.drug.firm }}</td>
				<td>{{ buyitem.drug }}</td>
				<td>{{ buyitem.amount }}</td>
				<td>{{ buyitem.stockin_amount }}</td>
				<td><input type="number" name="{{ buyitem.pk }}" min="0" max="{{ buyitem.incomplete_amount }}" step="{{ buyitem.drug.pkg_amount }}" togle="{{ buyitem.drug.pkg_amount }}"></td>
				<td>{{ buyitem.drug.account }}</td>
				<td><input type="checkbox" name="{{ buyitem.pk }}end" tabindex="-1"></td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
			<input type="submit" value="입고잡기" style="">
	</form>
	
	{% endblock table %}
</div>
{% include "datepicker_js.html" %}

<script type="text/javascript">



	var start = $("#id_start")
	var end = $("#id_end")
   $("#id_start").change(function(){

    	if(start.val() > end.val()){
    		end.val(start.val());
    	}
    });
     $("#id_end").change(function(){

    	if(start.val() > end.val()){
    		start.val(end.val());
    	}
    });

    $("[type=checkbox]").click(function(){
    	var checked = $(this).is(":checked")
		var name = parseInt(this.name)
	
		var tgt_input = document.getElementsByName(name)[0]    	
    	if(checked){
    		tgt_input.setAttribute('step',1)
    	}else{
    		var togle = tgt_input.getAttribute('togle')
    		console.log(togle)
    		tgt_input.setAttribute('step', togle)
    	}
    })

  })
  // $('.tablesorter').tablesorter();
	
</script>
{% include "tablesorter_js.html" %}

{% endblock content %}